html, body{
  height: 100%;
}
.Users {
  width: 20%;
}

.Messages {
  width: 70%;
  margin-left: 10%;
}
.floatBlock {
  border: 1px solid black;
  box-sizing: border-box;
  float: left;
  height: 100%;
}